.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron-image {
  opacity: 0;
  transition: opacity 1s ease; /* Smooth transition for opacity */
}

/* Apply a zoom-in effect to the active image */
.jumbotron-image.active {
  opacity: 1;
  animation: zoom-in 20s ease-in-out infinite;
}
/* Keyframes animation for the zoom-in and zoom-out effect */
@keyframes zoom-in {
  0% {
    transform: scale(1); /* Initial scale - no zoom */
  }
  50% {
    transform: scale(1.1); /* Zoom in halfway through the animation */
  }
  100% {
    transform: scale(1.1); /* Zoomed state at the end of the animation */
  }
}



.navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  margin: 0 5px; /* Adjust spacing between circles */
  transition: background-color 0.3s ease-in-out;
  opacity: 0.5;
}

/* Style for the active circle (corresponding to the displayed image) */
.circle.active {
  background-color: #0054a6;
  opacity: 1;
}