.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron-image {
  opacity: 0;
  transition: opacity 1s ease; /* Smooth transition for opacity */
}

/* Apply a zoom-in effect to the active image */
.jumbotron-image.active {
  opacity: 1;
  animation: zoom-in 10s ease-in-out infinite;
}
/* Keyframes animation for the zoom-in and zoom-out effect */
@keyframes zoom-in {
  0%, 100% {
    transform: scale(1); /* Initial and final scale - no zoom */
  }
  50% {
    transform: scale(1.1); /* Zoom in halfway through the animation */
  }
}



